/* GLOBAL -------------------------------------------------------- */
* {
  font-family: "Inter Nerd Font", sans-serif;
  font-size: 14px;
  color: #e0e0e0;
  padding: 0 2px;
  border-radius: 0;
}

/* REMOVE ALL DEFAULT SPACING/MARGINS --------------------------- */
window#waybar {
  all: unset;
  background: #000000;
  margin: 0;
  border: none;
}

/* WORKSPACES ---------------------------------------------------- */
#workspaces button {
  color: #7a7a7a;
}

#workspaces button.focused {
  background-color: #7a7a7a;
  color: #202020;
}

#workspaces button.active {
  background-color: #202020;
  color: #7a7a7a;
}

#workspaces button.empty {
  color: #444;
}

/* MODULES ------------------------------------------------------- */
#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature,
#tray,
#custom-expand,
#custom-colorpicker,
#custom-endpoint {
  padding: 0 6px;
  color: #d0d0d0;
  transition: 0.2s ease;
}

#clock:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: #ffffff;
}

/* BATTERY STATES ------------------------------------------------ */
#battery.charging {
  color: #3bd16f;
}

#battery.warning:not(.charging) {
  color: #ffb347;
}

#battery.critical:not(.charging) {
  color: #ff4c4c;
  animation: blink 0.5s infinite alternate;
}

/* TRAY ---------------------------------------------------------- */
#tray menu * {
  padding: 4px 8px;
}
